{% extends "FoosLeaderCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col s4">
            <div class="card-panel green lighten-2">
                <h4>Top score</h4>
                <h5>{{ top_players[0].username }}: {{ top_players[0].eloRanking }}</h5>
                <h6>{{ top_players[1].username }}: {{ top_players[1].eloRanking }}</h6>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel orange lighten-2">
                {% if top_ratios|length == 2 %}
                    <h4>Best win ratio</h4>
                    <h5>{{ top_ratios[0].player.username }}: {{ (top_ratios[0].getWinRatio()*100)|round(0) }}%</h5>
                    <h6>{{ top_ratios[1].player.username }}: {{ (top_ratios[1].getWinRatio()*100)|round(0) }}%</h6>
                {% else %}
                    <h4>No win ratios recorded</h4>
                {% endif %}
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel light-blue lighten-2">

                <h4>Totals</h4>
                <h5>Games: {{ total_games }}</h5>
                <h6>Goals: {{ total_goals }}</h6>
            </div>
        </div>
    <div class="col s6">
        <div class="card indigo darken-3">
            <div class="card-content white-text">
                <span class="card-title">Your last results</span>
                {% if latest_user is empty %}
                    <strong>Looks like you have no results yet</strong>
                {% else %}
                    {% for result in latest_user[0:5] %}
                        {% include "FoosLeaderCoreBundle:Widgets:single_result.html.twig"  with { result: result } %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card grey darken-3">
            <div class="card-content white-text">
                <span class="card-title">Latest results</span>

                {% if latest_all is empty %}
                    <strong>Looks like no one has any results yet</strong>
                {% else %}
                    {% for result in latest_all[0:5] %}
                        {% include "FoosLeaderCoreBundle:Widgets:single_result.html.twig"  with { result: result } %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if availables is not empty %}
        <div class="col s6">
            <div class="card green darken-4">
                <div class="card-content white-text">
                    <span class="card-title">Unclaimed results</span>
                    {% for available in availables %}
                        {% include "FoosLeaderCoreBundle:Widgets:available_match.html.twig" with { available: available } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>



{% endblock %}
